<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Port" value="9050"/>
    <add key="ConnectionKey" value=""/>
    <add key="ArrowFireDelay" value="00:00:00.2"/>
    <add key="ArrowSpeed" value="15"/>
    <add key="BombFireDelay" value="00:00:01"/>
    <add key="BombSpeed" value="0"/>
    <add key="BoomerangFireDelay" value="00:00:02"/>
    <add key="BoomerangSpeed" value="15"/>
    <add key="ScoreLimit" value="10"/>
  </appSettings>
</configuration>
